<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="4e72de70-2071-4ad1-bf61-0a6d00c1a5eb" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://example.com" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="4e72de70-2071-4ad1-bf61-0a6d00c1a5ebfileName">http%3A%2F%2Fexample.com</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>http://example.com</con:endpoint>
  </con:endpoints>
</con:interface>
